<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Business Search</title>
  <!-- <link rel="stylesheet" href="../static/style.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="d-flex justify-content-end">
    <button type="button" id="sea" class="customBUT align-items-end" (click)="clickTab('sea')">Search</button>
    <button type="button" id="mb" style="border-color: transparent;" class="customBUT align-items-end"
      (click)="clickTab('mb')">My Bookings</button>
  </div>
  <div id="myBookingsTab" style="display: none;">
    <h1 style="text-align: center" id="mbTitle">List of your reservations</h1>
    <!-- <div id="bookingTable">
    </div> -->
  </div>

  <div class="flex-container" id="searchTab">
    <div class="mainPage">
      <h1>Business Search</h1>
      <h2>Fill out the form to get businesses near you!</h2>
      <form style="color:blue;" (ngSubmit)="submitlol(form)" #form="ngForm">
        <label>Keyword</label><label style="color:red;">*</label><br>
        <input type="text" ngModel name="kw" required>
        <br><br>
        <div class="twoBox">
          <div>
            <label>Distance(miles)</label>
            <br>
            <input type="number" ngModel name="dm">
          </div>
          <div class="fc">
            <label style="text-align: right;">Category</label>
            <br>
            <select ngModel name="fc" id="foodCategory">
              <option value="default">Default</option>
              <option value="anm">Arts & Entertainment</option>
              <option value="hnm">Health & Medical</option>
              <option value="hnt">Hotels & Travel</option>
              <option value="fd">Food</option>
              <option value="ps">Professional Service</option>
            </select>
          </div>
        </div>
        <br><br>
        <label>Location</label><label style="color:red;">*</label><br>
        <input type="text" ngModel name="location" minlength="4">
        <br><br>
        <hr>
        <label><strong>Want us to auto-detect your location? Check here</strong></label>
        <input type="checkbox" ngModel name="autoDetect">
        <br><br>
        <!-- we cannot call function submit  -->
        <input type="submit" value="SUBMIT" class="subBut">
        <input type="button" value="CLEAR" class="clearBut" (click)="form.resetForm()">
      </form>
    </div>
    <div id="APIresult" class="APIresult">

    </div>
  </div>
  <div id="searchResult" class="searchResult">
    <h1 style="text-align: center;" id="currentBU"></h1>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" (click)="putMeUp('businessTab')" href="#businessTab" style="color: black;">Business
          detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="putMeUp('Maplocation')" href="#Maplocation" style="color: black;">Map location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="putMeUp('Reviews')" href="#Reviews" style="color: black;">Reviews</a>
      </li>
    </ul>

    <section id="businessTab" style="background-color: aliceblue;">
      <div class="srleft">
        <h2 class="srl">Status</h2>
        <p class="openStatus"></p>
        <h2 class="srl">Address</h2>
        <p id="address"></p>
        <h2 class="srl">Transactions Supported</h2>
        <p id="transactionsSupported"></p>
        <h2 class="srl">More info</h2>
        <a id="minfo" href="">Yelp</a>
      </div>
      <div class="srright">
        <h2 class="srr">Category</h2>
        <p id="categories"></p>
        <h2 class="srr">Phone Number</h2>
        <p id="pn"></p>
        <h2 class="srr">Price</h2>
        <p id="money">$$$</p>
      </div>
    </section>
    <div class="promotionBut" id="promotionBut">
      <div class="restButton">
        <!-- use either (click)="openModal() or data-bs-target="#reserveModal" here" -->
        <button class="resBut" data-bs-toggle="modal" (click)="openModal()" >Reserve
          now</button>
        <button style="display:none;" id="realOpen" data-bs-toggle="modal" data-bs-target="#reserveModal"></button>
      </div>
      <div class="socialShare">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
          data-show-count="false">Tweet</a>
        <!-- <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
        <iframe
          src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=60&height=20&appId"
          width="60" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
    <!-- carousel -->
    <div id="carouselExampleControls" class="carousel slide d-flex justify-content-center" data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner" id="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.redd.it/dufdflg7nw5a1.jpg" class="d-block img-fluid img-thumbnail mx-auto" >
        </div>
        <div class="carousel-item">
          <img src="https://i.redd.it/eo6fkw9o5maa1.jpg" class="d-block img-fluid img-thumbnail mx-auto">
        </div>
        <div class="carousel-item">
          <img src="https://i.redd.it/dufdflg7nw5a1.jpg" class="d-block img-fluid img-thumbnail mx-auto">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <section id="Maplocation" style="display: none; background-color: aliceblue;">
      <!--Google map-->
      <div class="container-fluid">
        <div class="map-responsive">
          <iframe
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <!--Google Maps-->
    </section>

    <section id="Reviews" style="display: none; background-color: aliceblue;">
      
    </section>
  </div>
  <!-- Modal -->
  <div class="modal fade" role="dialog" id="reserveModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-margin-y-sm-up">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reservation form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            (click)="form.resetForm();onCloseHandled();"></button>
        </div>
        <div class="modal-body">
          <div class="reserve-form-container">
            <div class="container">
              <form action="" id="reserve-form" (ngSubmit)="submitModal(ff)" #ff="ngForm">
                <div class="row">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" ngModel name="mem" required>
                  </div>

                  <div class="form-group">
                    <label for="">Date</label>
                    <input type="date" class="form-control" ngModel name="mdate" required>
                  </div>

                  <div class="form-group">
                    <label for="">Time</label>
                    <br>
                    <select id="modalHour" ngModel name="mmh" required>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                    </select>
                    <select id="modalMinute" ngModel name="mmm" required>
                      <option value=0>00</option>
                      <option value=15>15</option>
                      <option value=30>30</option>
                      <option value=45>45</option>
                    </select>
                  </div>
                  <div class="form-group submit-container"
                    style="display: flex; align-items: center; justify-content: center;">
                    <button type="submit" class="resBut" data-bs-dismiss="modal">
                      SUBMIT
                    </button>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-dark" data-bs-dismiss="modal" (click)="form.resetForm();onCloseHandled()">Close</button>
        </div>
      </div>
    </div>
  </div>


</body>

</html>
