<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Business Search</title>
  <link rel="stylesheet" href="../static/style.css">
  <!-- <script type = "text/javascript">  
    function submit() {
      alert("call submit man");
    }  
  </script>   -->

</head>

<body>
  <div class="flex-container">
    <div class="mainPage">
      <h1>Business Search</h1>
      <h2>Fill out the form to get businesses near you!</h2>
      <form name="partOne" action="" style="color:blue;" onsubmit="submitlol();">
        <label>Keyword</label><label style="color:red;">*</label><br>
        <input type="text" name="kw" required>
        <br><br>
        <div class="twoBox">
          <div>
            <label>Distance(miles)</label>
            <br>
            <input type="number" name="dm">
          </div>
          <div class="fc">
            <label style="text-align: right;">Category</label>
            <br>
            <select name="fc" id="foodCategory">
              <option value="default">Default</option>
              <option value="anm">Arts & Entertainment</option>
              <option value="hnm">Health & Medical</option>
              <option value="hnt">Hotels & Travel</option>
              <option value="fd">Food</option>
              <option value="ps">Professional Service</option>
            </select>
          </div>
        </div>
        <br><br>
        <label>Location</label><label style="color:red;">*</label><br>
        <input type="text" name="location" required minlength="4">
        <br><br>
        <hr>
        <label><strong>Want us to auto-detect your location? Check here</strong></label>
        <input type="checkbox" name="autoDetect">
        <br><br>
        <!-- we cannot call function submit  -->
        <input type="submit" value="SUBMIT" class="subBut">
        <input type="button" value="CLEAR" class="clearBut" onclick="cc();">
      </form>
    </div>
    <div class="searchResult">
      <div class="srleft">
        <h2 class="srl">Status</h2>
        <h2 class="srl">Address</h2>
        <h2 class="srl">Transactions Supported</h2>
        <h2 class="srl">More info</h2>
      </div>
      <div class="srright">
        <h2 class="srr">Category</h2>
        <h2 class="srr">Phone Number</h2>
        <h2 class="srr">Price</h2>
      </div>
    </div>
  </div>
  <script src="../static/func.js" charset="utf-8"></script>
</body>

</html>